In [1]:
#declear a variable
#variables are the containers use to store any data types
X=10

In [2]:
# print the variable
print (X)

10

In [3]:
# check the datatype of the variable(X)
type(X)

int

# create an integer datatype
int_1=20

# show the datatype
print('datatype of the variable ',type(int_1))

In [19]:
# create an float datatype
float_1=20.38

# show the datatype
print('datatype of the variable ',type(float_1))

datatype of the variable  <class 'float'>

In [21]:
# create an string datatype
string_1='Gokul'

# show the datatype
print('datatype of the variable ',type(string_1))

datatype of the variable  <class 'str'>

In [23]:
# create an list datatype
list_1=[10,20,30,40]
list_2=[10.38,20.40,30.39,40.68]
list_3=['Gokul','Kannan','verti','vel']

#show the datatype
print(type(list_1))
print(list_1)
print(list_2)
print(list_3)

<class 'list'>
[10, 20, 30, 40]
[10.38, 20.4, 30.39, 40.68]
['Gokul', 'Kannan', 'verti', 'vel']

In [27]:
tuple_1=(10,20,30,40)
tuple_2=(10.38,20.40,30.39,40.68)
tuple_3=('Gokul','Kannan','verti','vel')

#show the datatype
print(type(tuple_1))

<class 'tuple'>

In [29]:
# create a set variable
set_1={10,20,30,40}
set_2={10.38,20.40,30.39,40.68}
set_3={'Gokul','Kannan','verti','vel'}

#show the datatype
print(type(set_1))
print(type(set_2))
print(type(set_3))

<class 'set'>
<class 'set'>
<class 'set'>

In [33]:
# create an boolean datatype
boolean_1=True
boolean_2=False

# show the datatype
print('datatype of the variable',type(boolean_1))
print('datatype of the variable',type(boolean_2))

datatype of the variable <class 'bool'>
datatype of the variable <class 'bool'>

In [39]:
# show an dictonary
dictonary_1={'list_1':[10,20,30,40],
             'tuple_1':(10,20,30,40),
             'set_1':{10,20,30,40}}
# show the datatype
print('datatype of the variable',type(dictonary_1))

datatype of the variable <class 'dict'>

# basic operation

In [44]:
# task1:type casting
#float_2=45.96

# show the datatype 
print('datatype of the variable',type(float_2))

# type casting
int_2=int(float_2)

#show the datatype
print('datatype of the variable',type(int_2))

datatype of the variable <class 'float'>
datatype of the variable <class 'int'>

In [46]:
# task1:type casting
int_3=5

# show the datatype 
print('datatype of the variable',type(int_3))

# type casting
float_3=float(int_3)

#show the datatype
print('datatype of the variable',type(float_3))

datatype of the variable <class 'int'>
datatype of the variable <class 'float'>

In [1]:
#Task2:use of round function
float_4=10.1234567890

# round this value
rounded_value=round(float_4,3)

#show the output
print('rounded values are:',rounded_value)

rounded values are: 10.123

# arithmetic operations on a data

In [13]:
# addition operation
# declear the variable
a=30
b=20

#perform the sum
sum_1=a+b

#show the output
print('addition of two variables:',sum_1)

addition of two variables: 50

In [11]:
# subraction operation
# declear the variable
a=30
b=20

#perform the sum
sum_1=a-b

#show the output
print('subraction of two variables:',sum_1)

subraction of two variables: 10

In [15]:
# multiplication operation
# declear the variable
a=30
b=20

#perform the sum
sum_1=a*b

#show the output
print('multiplication of two variables:',sum_1)

multiplication of two variables: 600

In [17]:
# division operation
# declear the variable
a=30
b=20

#perform the sum
sum_1=a/b

#show the output
print('division of two variables:',sum_1)

division of two variables: 1.5

# User defind function

In [20]:
# Declear the function named as 'summation',who can perform the addition in two numbers
def summation():
    x=10
    y=20
    summation=x+y
    return summation

# cal the function
summation()

30

In [24]:
# Declear the function names as 'subraction',
#who can the subraction between two variables
def subraction(x,y):
    subraction=x-y
    return subraction

#call the function
subraction(10,20)

-10

In [32]:
# Declear the function named as multiplication
# who can perform the multiplication between two variables
# this time you need to take the input from the user 

# take the input from the user
var_2=int(input('give the first number:'))
var_3=int(input('give the second number:'))

# make the user defind function 
def multiplication(var_2,var_3):
    mul=var_2*var_3
    return mul

#call the function
multiplication(var_2,var_3)

give the first number: 20
give the second number: 80

1600